<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>The Great Number Game!!!</title>
</head>
<body>
    <div id="container">
        <div id="top-text">
            <h1>Welcome to the Great Number Game!</h1>
            <h3>I am thinking of a number between 1 and 100</h3>
        </div>
        {% if guesses > 0 %}
            <div id="hot-cold-box" style="background-color: {{color}};">
                {% if guess > num %}
                    <h2>Too High!</h2>
                {% elif guess < num %}
                    <h2>Too low!</h2>
                {% elif guess == num %}
                    <h2>{{num}} was the number!</h2>
                    <h3> It took you {{guesses}} tries!</h2>
                {% endif %}
            </div>
        {% endif %}
        {% if guess != num %}
            <div id="form">
                <form action="/guess" method="post">
                    <input type="number" name="guess" id="guess" placeholder="Guess...">
                    <button type="submit">Submit</button>
                </form>
            </div>
        {% else %}
        <div id="form">
            <form action="/winner" method="post">
                <input type="text" name="username" id="guess" placeholder="Enter your name:">
                <button type="submit">Submit</button>
            </form>
        </div>
        {% endif %}
        {% if session['leaderboard'] %}
            <a href="/leaderboard"><button>View Leaderboards</button></a>
        {% endif %}

    </div>
</body>
</html>